doctype html
html
    head
        title react hn

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,600,300', rel='stylesheet', type='text/css')

        link(rel='stylesheet', href='/css/base.css')

    body
        #app !{content}

    script(src='/js/base.js')

